@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.btn{
  @apply p-2 border-4 border-blue-300	
}
.ttl{
  @apply text-center	font-semibold	text-xl	
}

.small-container{
  @apply w-80 border p-5
}

.loader{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

.app {
  font-family: 'Roboto', sans-serif;
}

td{
  @apply p-2 
}
th{
  @apply p-2
}

td img{
  @apply h-24	w-24 object-cover rounded-full	
}